<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-xs-12 well">
      <c3-chart id="realTimeChart" config="realTimeConfig"></c3-chart>
    </div>

    <div class="col-md-3 col-xs-12">

    	<div class="well">
    		消息区：
    	</div>

			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
				<li>{{(alert.gas_level?'警告：':'实时状况：') + alert.time + ' ' +alert.msg}}</li>
				<li ng-if="alert.gas_level">浓度：{{alert.gas_level}}</li>
			</alert>
    	
    </div>
  </div>
</div>
